# dependencies
/node_modules

# next
/.next
/out

# production
/build

# local
.DS_Store
*.pem
*.log

# environment
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# tests
test-results/
playwright-report/
/.artifacts/
